#posicionamento {
  padding-top: 20%;
  padding-left: 10%;
}

//ion-content{
//  --background: rgb(100, 74, 117);
//}

ion-content {
  --background: url('https://cutewallpaper.org/27/awesome-cityscape-wallpaper-gif/pixel-art-gif-wallpaper-gambar-wallpaper-keren.gif') 0 0/ 100% 100% no-repeat;
}

